[project]
	description = Implementation of few python programs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ajoy Kumar Samanta (ajoy2008)
[access "refs/for/refs/*"]
	read = group user/Ajoy Kumar Samanta (ajoy2008)
	push = group user/Ajoy Kumar Samanta (ajoy2008)
	label-Code-Review = -2..+2 group user/Ajoy Kumar Samanta (ajoy2008)
	label-Verified = -1..+1 group user/Ajoy Kumar Samanta (ajoy2008)
	rebase = group user/Ajoy Kumar Samanta (ajoy2008)
	removeReviewer = group user/Ajoy Kumar Samanta (ajoy2008)
	submit = group user/Ajoy Kumar Samanta (ajoy2008)
[access "refs/heads/*"]
	read = group user/Ajoy Kumar Samanta (ajoy2008)
	create = group user/Ajoy Kumar Samanta (ajoy2008)
	push = +force group user/Ajoy Kumar Samanta (ajoy2008)
	pushMerge = group user/Ajoy Kumar Samanta (ajoy2008)
[access "refs/tags/*"]
	push = group user/Ajoy Kumar Samanta (ajoy2008)
	push = +force group user/Ajoy Kumar Samanta (ajoy2008)
